.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: lightpink;
  padding: 0 25px;
}
a{
    text-decoration: none;
  color: black;
}
.main-menu a{
  margin: 0 25px;
  color: snow;
  font-size: 20px;
}
